.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#map{
    height :700px;
    width: 800px;
}

#txtCoords{

    height: auto;
    width: auto;
}